<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <link type="text/css" rel="stylesheet" href="../dist/gtui/css/gtui.css" />
</head>
<body ng-app="GTUIComponent">
    <div>
        <div>Here is something...</div>
        <div ng-controller="TableController as tc" id="demo-table">
            <div gtui-table gtui-vertical-tile
                 data-config="{ frozenColumnsCount: 3, tableBordered: true, tableStriped: true, vm: 'tc', headersField: 'headers', itemsField: 'items' }">
                <table>
                    <thead>
                        <tr>
                            <th ng-repeat="item in tc.headers">{{item.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tc.items">
                            <td ng-repeat="cell in item.cols">{{cell.content}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>Here is something...</div>
        <div><button onclick="button_click()">Change ItemsSource</button></div>
    </div>

    <script src="lib/jquery-1.9.0.js"></script>
    <script src="lib/jquery-ui-1.9.2.js"></script>
    <script src="lib/angular-1.28.js"></script>
    <script src="../dist/gtui/js/gtui.js"></script>
    <script type="text/javascript">
        function button_click(e) {
            var scope = $('#demo-table').scope(),
                tc = scope.tc,
                columnCount = 7,
                rowCount = 10;

            tc.headers = [];
            for (var i = 0; i < columnCount; i++) {
                tc.headers.push({ title: 'NewHeader' + i });
            }

            tc.items = [];
            for (var i = 0; i < rowCount; i++) {
                var obj = { cols: [] };
                tc.items.push(obj);
                for (var j = 0; j < columnCount; j++) {
                    obj.cols.push({ content: 'NewRow-' + i + '-' + j });
                }
            }

            scope.$apply();
            $(document).ready(function () {
                tc.metaTable.table('updateItemsSource');
            });
        };

        // Tables
        var MyTableController = function ($scope) {
            var vm = this,
                columnCount = 20,
                rowCount = 30;

            vm.headers = [];
            for (var i = 0; i < columnCount; i++) {
                vm.headers.push({ title: 'Header' + i });
            }

            vm.items = [];
            for (var i = 0; i < rowCount; i++) {
                var obj = { cols: [] };
                vm.items.push(obj);
                for (var j = 0; j < columnCount; j++) {
                    obj.cols.push({ content: 'Row-' + i + '-' + j });
                }
            }

            $scope.$on('sort', function (e, data) {
                console.log(e.name + ': Index "' + data.index + '" was clicked.')
            });

            return vm;
        };

        // Page Controller
        angular.module('GTUIComponent', ['gtui'])
            // Controllers for Tables
            .controller('TableController', MyTableController)
    </script>
</body>
</html>
