<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <link type="text/css" rel="stylesheet" href="dist/css/gtui.css" />
</head>
<body ng-app="GTUIComponent">
    <div>
        <h1>Table</h1>
        <div ng-controller="TableController as tc" id="demo-table">
            <div gtui-table gtui-vertical-tile
                 data-config="{ frozenColumnsCount: 0, tableBordered: true, tableStriped: true, controllerAs: 'tc', headersField: 'headers', itemsField: 'items' }">
                <!--<table>
                    <thead>
                        <tr>
                            <th ng-repeat="header in tc.headers" ng-bind="header.displayContent"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in tc.items">
                            <td gtui-table-td ng-repeat="column in tc.headers" data-config="{ itemProp: 'row', headerProp: 'column' }"></td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
        <div><button class="btn" onclick="button_click()">Change ItemsSource</button></div>
    </div>

    <script src="lib/jquery-1.9.0.js"></script>
    <script src="lib/jquery-ui-1.9.2.js"></script>
    <script src="lib/angular-1.28.js"></script>
    <script src="dist/js/gtui.js"></script>
    <script type="text/javascript">
        function button_click(e) {
            var scope = $('#demo-table').scope(),
                tc = scope.tc,
                columnCount = 7,
                rowCount = 10;

            tc.headers = [];
            tc.headers = [
                { visible: true, displayContent: '权限编码', valueField: 'PermissionCode', type: 'text' },
                { visible: true, displayContent: '权限描述', valueField: 'Describe', type: 'text' },
                { visible: true, displayContent: '创建人', valueField: 'CreateUserName', type: 'text' },
                { visible: true, displayContent: '创建时间', valueField: 'CreateDate', type: 'text' },
                { visible: true, displayContent: '更新人', valueField: 'UpdateUserName', type: 'text' },
                { visible: true, displayContent: '更新时间', valueField: 'UpdateDate', type: 'text' },
                { visible: true, displayContent: '是否有效', valueField: 'isValid', type: 'text', filterField: '' },
                { visible: true, displayContent: '操作', valueField: 'actions', type: 'button-group' }
            ];
            // tc.actions = [
            //     { displayContent: '配置权限' },
            //     { displayContent: '配置人员' },
            //     { displayContent: '删除' }
            // ];

            tc.items = [
                {
                    PermissionCode: 'P000000000',
                    Describe: '组长',
                    CreateUserName: '张三',
                    CreateDate: '2016-10-11',
                    UpdateUserName: '李四',
                    UpdateDate: '2016-10-15',
                    isValid: true
                }
            ];

            scope.$apply();
            $(document).ready(function () {
                tc.metaTable.table('updateItemsSource');
            });
        };

        // Tables
        var MyTableController = function ($scope) {
            var vm = this,
                columnCount = 20,
                rowCount = 30;

            vm.headers = [];
            vm.headers = [
                { visible: true, displayContent: '权限编码', valueField: 'PermissionCode', type: 'text' },
                { visible: true, displayContent: '权限描述', valueField: 'Describe', type: 'text' },
                { visible: true, displayContent: '创建人', valueField: 'CreateUserName', type: 'link' },
                { visible: true, displayContent: '创建时间', valueField: 'CreateDate', type: 'text' },
                { visible: true, displayContent: '更新人', valueField: 'UpdateUserName', type: 'link' },
                { visible: true, displayContent: '更新时间', valueField: 'UpdateDate', type: 'text' },
                { visible: true, displayContent: '是否有效', valueField: 'isValid', type: 'text' },
                { visible: true, displayContent: '操作', actionsField: 'actions', type: 'btn-group' }
            ];

            vm.items = [
                {
                    PermissionCode: 'P000000000',
                    Describe: '组长',
                    CreateUserName: '张三',
                    CreateDate: '2016-10-11',
                    UpdateUserName: '李四',
                    UpdateDate: '2016-10-15',
                    isValid: true
                },
                {
                    PermissionCode: 'P000000001',
                    Describe: '部长',
                    CreateUserName: '张三',
                    CreateDate: '2016-10-11',
                    UpdateUserName: '',
                    UpdateDate: '',
                    isValid: true
                }
            ];

            $(vm.items).each(function (i, item) {
                item.actions = [
                    { displayContent: '配置权限' },
                    { displayContent: '配置人员' },
                    { displayContent: '删除' }
                ];
            });

            $scope.$on('sort', function (e, data) {
                console.log(e.name + ': Index "' + data.index + '" was clicked.')
            });

            return vm;
        };

        // Page Controller
        angular.module('GTUIComponent', ['gtui'])
            // Controllers for Tables
            .controller('TableController', MyTableController)
            .filter('yesNo', function () {
                return function (y) {
                    return y ? '是' : '否';
                };
            });
    </script>
</body>
</html>
